body {
  font: 1.8em "Fira Sans", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.logo {
  margin-top: 8rem;
  z-index: 0;
}
.logo__img {
  border-radius: 20%;
  height: 3em;
  width: auto;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(0.8, 1.8, 0.75, 0.75);
  cursor: pointer;
}
.logo__img:hover {
  transform: rotate(10deg) scale(1.1);
}

.container__menu {
  margin: auto;
  width: 50%;
  border-spacing: 4rem 2rem;
}
.container__menu td {
  box-shadow: 1px 1px 12px #555;
  height: 18rem;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.container__menu td:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  opacity: 0.5;
}
.container__menu__top__left {
  background-color: #ff8a80;
  color: #795548;
}
.container__menu__top__right {
  color: white;
  background: linear-gradient(to right, #8d6e63 0%, #7e57c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__menu__bottom {
  font-family: cursive;
}
.container__menu__bottom__left {
  background: linear-gradient(to right, #4429a5 0%, #33ccff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  color: white;
  background-color: #E0E0E0;
}
.container__menu__bottom__right {
  color: white;
  background: linear-gradient(to right, #388e3c 0%, #b2ff59 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__note {
  margin: auto;
  width: 60%;
  background-color: #f8bbd0;
  box-shadow: 1px 1px 12px #555;
  padding: 2rem 2rem;
}
.container__note > span {
  font: bold 0.8em "Comic Sans MS", sans-serif;
}
.container__note article {
  font-size: 0.5em;
  text-align: left;
  width: 100%;
}
.container__note table {
  margin: auto;
  width: 100%;
}
.container__note table tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container__note table td:nth-child(odd) {
  text-align: left;
  width: 80%;
}
.container__note table td:nth-child(even) {
  text-align: right;
  width: 20%;
}
.container__note table .container__note__banner td {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container__note table .container__note__banner td hr {
  margin-top: 1.5rem;
  background-image: url(../images/bg_hr_2.jpg);
  height: 8px;
  width: 30%;
}
.container__note table .container__note__banner td h2 {
  padding: 0px 0px 0px 0px;
  width: 50%;
  font: bold 1.4em "Open Sans", sans-serif;
  white-space: nowrap;
}
.container__note span {
  text-align: center;
}
.container__note .fa {
  color: orange;
}
.container__delice {
  box-shadow: 1px 1px 12px #555;
  margin: auto;
  margin-top: 6%;
  padding: 2% 0 2% 0;
  width: 55%;
  vertical-align: center;
  background-color: #EEEEEE;
}
.container__delice > span {
  background: linear-gradient(to right, #180657 0%, #33ccff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container__delice table {
  margin: auto;
  width: 80%;
  font: 0.5em "Open Sans", sans-serif;
}
.container__delice table tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container__delice table td:nth-child(odd) {
  text-align: left;
  width: 80%;
  padding: 1rem 3rem 0 3rem;
}
.container__delice table td:nth-child(even) {
  text-align: right;
  width: 20%;
  padding: 1rem 2rem 0 2rem;
}
.container__delice table td[colspan="2"] {
  padding: 1rem 1rem 0 1rem;
}
.container__delice table .container__delice__banner td {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  width: 100%;
  font: bold 0.7em "Open Sans", sans-serif;
}
.container__delice table .container__delice__banner td img {
  height: 20%;
  margin-top: 3%;
}
.container__delice table .container__delice__banner td span {
  padding: 0px 50px 0px 50px;
  width: 50%;
  white-space: nowrap;
}
.container__chic {
  background-color: #ffefff;
  margin: auto;
  padding: 2% 0 0 0;
  margin-top: 6%;
  width: 60%;
  vertical-align: center;
}
.container__chic > span {
  /*  background: linear-gradient(to right #795548  0%, #6200EA 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   */
}
.container__chic table {
  margin: auto;
  width: 80%;
  font: 0.6em "Open Sans", sans-serif;
}
.container__chic table tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container__chic table td:nth-child(odd) {
  text-align: left;
  width: 80%;
  padding: 1rem 3rem 0 3rem;
}
.container__chic table td:nth-child(even) {
  text-align: right;
  width: 20%;
  padding: 1rem 3rem 0 3rem;
}
.container__chic table td[colspan="2"] {
  padding: 1rem 1rem 0 1rem;
}
.container__chic table .container__chic__banner td {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  width: 100%;
  font: bold 0.7em "Open Sans", sans-serif;
}
.container__chic table .container__chic__banner td img {
  height: 30%;
  margin-top: 3%;
}
.container__chic table .container__chic__banner td span {
  padding: 0px 50px 0px 50px;
  width: 50%;
  white-space: nowrap;
}
.container__chic span {
  text-align: center;
}
.container__palette {
  margin: auto;
  margin-bottom: 2rem;
  width: 50%;
  vertical-align: center;
}
.container__palette > span {
  /*
  background: linear-gradient(to right, #4fca97  0%, rgb(241, 242, 245) 100%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}
.container__palette table {
  margin: auto;
  width: 80%;
  font: 0.6em "Open Sans", sans-serif;
}
.container__palette table tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.container__palette table td:nth-child(odd) {
  text-align: left;
  width: 80%;
  padding: 1rem 3rem 0 3rem;
}
.container__palette table td:nth-child(even) {
  text-align: right;
  width: 20%;
  padding: 1rem 3rem 0 3rem;
}
.container__palette table td[colspan="2"] {
  padding: 1rem 1rem 0 1rem;
}
.container__palette table .container__palette__banner td {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  width: 100%;
  font: bold 0.7em "Open Sans", sans-serif;
}
.container__palette table .container__palette__banner td img {
  height: 20%;
  margin-top: 3%;
}
.container__palette table .container__palette__banner td span {
  padding: 0px 50px 0px 50px;
  width: 50%;
  white-space: nowrap;
}

div.button {
  text-align: center;
}

button {
  display: inline-block;
  background-color: #00695c;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 1rem 4rem 1rem 4rem;
  color: #ffc400;
  text-align: center;
  font-size: 28px;
  padding-bottom: 2rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 4px #4fca97;
  top: 4px;
}
button:active {
  box-shadow: none;
  top: 8px;
}

header {
  top: 0;
  padding-top: 1%;
  margin: 0 0 5rem 0;
}

footer {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  padding-top: 2rem;
  margin-top: 2rem;
  bottom: 0;
}

header,
footer {
  position: fixed;
  border-width: 1px 0;
  overflow: hidden;
  background-color: #00695c;
  color: #ffc400;
  width: 100%;
  height: 4rem;
  margin: auto;
}
header a,
footer a {
  color: #ffc400;
}
header__left,
footer__left {
  width: 40%;
}
header__right,
footer__right {
  width: 40%;
}

.loader {
  background-color: orange;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
}
.loader:before, .loader:after {
  content: " ";
  position: absolute;
  background-color: orange;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.loader:before {
  right: -80px;
  animation-delay: 0.5s;
}
.loader:after {
  right: -160px;
  animation-delay: 1;
}

.animate-coloring, .loader, .loader:before, .loader:after {
  animation-name: coloring;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
}

footer > span:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes coloring {
  0% {
    background-color: orange;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: orange;
  }
}

/*# sourceMappingURL=layout.css.map */
